{% extends 'base.html.twig' %}
{# Overide Title #}
{% block title %} Reading Blog {% endblock %}

{% block body %}
 <h1>List of Blogs</h1>
<ul>
{% if blogs %}

  {% for blog in blogs %}
  <li>
    <a href="/blogs/detail/{{blog.id}}">
      {{blog.id}} - {{blog.title}}
    </a>
    <div>
       <a href="/blogs/edit/{{blog.id}}">
        edit
      </a>

      <a href="/blogs/delete/{{blog.id}}">
        delete
      </a>
       <br/>
    <br/>
    </div>
  </li>

  {% endfor %}

{% else %}
  <p> No Blogs </p>
{% endif %}
</ul>
{% endblock %}
